{% load i18n %}

<ol class="join flex-wrap w-full justify-between">
  {% if previous_url %}
  <li class="tooltip" data-tip="{% trans 'Previous' %}">
    <a
      href="{{ previous_url }}"
      class="btn btn-square btn-sm btn-ghost lg:btn-md 2xl:btn-lg"
    >
      <i data-lucide="chevron-left" class="size-4 lg:size-6 rtl:rotate-180"></i>
      <span class="sr-only">{% trans 'Previous' %}</span>
    </a>
  </li>
  {% else %}
  <li class="tooltip" data-tip="{% trans 'Previous' %}">
    <button
      disabled
      class="btn btn-square btn-sm btn-ghost lg:btn-md 2xl:btn-lg"
    >
      <i data-lucide="chevron-left" class="size-4 lg:size-6 rtl:rotate-180"></i>
      <span class="sr-only">{% trans 'Previous' %}</span>
    </button>
  </li>
  {% endif %}

  <!---->
  {% if next_url %}
  <li class="tooltip" data-tip="{% trans 'Next' %}">
    <a
      href="{{ next_url }}"
      class="btn btn-square btn-sm btn-ghost lg:btn-md 2xl:btn-lg"
    >
      <i
        data-lucide="chevron-right"
        class="size-4 lg:size-6 rtl:rotate-180"
      ></i>
      <span class="sr-only">{% trans 'Next' %}</span>
    </a>
  </li>
  {% else %}
  <li class="tooltip" data-tip="{% trans 'Next' %}">
    <button
      disabled
      class="btn btn-square btn-sm btn-ghost lg:btn-md 2xl:btn-lg"
    >
      <i
        data-lucide="chevron-right"
        class="size-4 lg:size-6 rtl:rotate-180"
      ></i>
      <span class="sr-only">{% trans 'Next' %}</span>
    </button>
  </li>
  {% endif %}
</ol>
