<!-- prettier ignore -->
{% load i18n static rest_framework rest_wind %}

<!doctype html>
<html lang="en" data-theme="{% block theme %}default{% endblock %}">
  <head>
    <!-- prettier ignore -->
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- prettier ignore -->
    {% block meta %}
    <meta name="robots" content="NONE,NOARCHIVE" />
    {% endblock %}
    <!-- prettier ignore -->
    <title>
      {% block title %}
      {% if name %}{{ name }} -{% endif %} Django REST framework
      {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- prettier ignore -->
    {% block highlight_theme %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css"
    />
    <link rel="stylesheet" href="{% static 'rest_wind/css/pygments.css' %}" />
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/http.min.js"></script>
    <script>hljs.highlightAll()</script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>

    <!-- prettier ignore -->
    {% block styles %}
    <link rel="stylesheet" href="{% static 'rest_wind/css/styles.css' %}" />
    {% endblock %}

    <!-- Style overrides -->
    <style>
      pre code.hljs,
      code.hljs,
      .hljs {
        padding: 0px;
        font-family: "Jetbrains Mono", monospace;
        background-color: transparent;
      }
    </style>
    {% endblock %}
  </head>

  <body class="flex h-dvh bg-base-300 overflow-hidden">
    <!-- prettier ignore -->
    {% block body %}
    <section id="nav" class="h-full z-30">
      <header class="h-full">
        <!-- prettier ignore -->
        {% block navbar %}
        <nav
          class="menu menu-vertical h-full items-center justify-between gap-4 lg:w-auto"
        >
          <ul class="menu menu-vertical items-center gap-1 p-0 lg:gap-2">
            <!-- prettier ignore -->
            {% block branding %}
            <li
              class="tooltip tooltip-right tooltip-primary"
              data-tip="{% trans 'Django REST Framework' %}"
            >
              <a
                href="https://www.django-rest-framework.org/"
                class="btn btn-square btn-primary lg:btn-lg"
              >
                <i data-lucide="braces" class="size-8"></i>
                <span class="sr-only">{% trans 'Django REST Framework' %}</span>
              </a>
            </li>
            {% endblock %}
            <!-- prettier ignore -->
            {% block userlinks %}
            <li
              class="tooltip tooltip-right tooltip-secondary"
              data-tip="{% trans 'Home' %}"
            >
              <a
                href="https://www.django-rest-framework.org/"
                class="btn btn-sm btn-square btn-ghost lg:btn-md"
              >
                <i data-lucide="house" class="size-4 lg:size-6"></i>
                <span class="sr-only">{% trans 'Home' %}</span>
              </a>
            </li>
            <li
              class="tooltip tooltip-right tooltip-secondary"
              data-tip="{% trans 'Docs' %}"
            >
              <a
                href="https://www.django-rest-framework.org/api-guide/requests/"
                class="btn btn-sm btn-square btn-ghost lg:btn-md"
              >
                <i data-lucide="book-text" class="size-4 lg:size-6"></i>
                <span class="sr-only">{% trans 'Docs' %}</span>
              </a>
            </li>
            <li
              class="tooltip tooltip-right tooltip-secondary"
              data-tip="{% trans 'Tutorial' %}"
            >
              <a
                href="https://www.django-rest-framework.org/tutorial/quickstart/"
                class="btn btn-sm btn-square btn-ghost lg:btn-md"
              >
                <i data-lucide="graduation-cap" class="size-4 lg:size-6"></i>
                <span class="sr-only">{% trans 'Tutorial' %}</span>
              </a>
            </li>
            <li
              class="tooltip tooltip-right tooltip-secondary"
              data-tip="{% trans 'DRF Repo' %}"
            >
              <a
                href="https://github.com/encode/django-rest-framework/"
                class="btn btn-sm btn-square btn-ghost lg:btn-md"
              >
                <i data-lucide="folder-git-2" class="size-4 lg:size-6"></i>
                <span class="sr-only">{% trans 'DRF Repo' %}</span>
              </a>
            </li>
            <li
              class="tooltip tooltip-right tooltip-secondary"
              data-tip="{% trans 'DRF RestWind Repo' %}"
            >
              <a
                href="https://github.com/youzarsiph/drf-restwind/"
                class="btn btn-sm btn-square btn-ghost lg:btn-md"
              >
                <i data-lucide="github" class="size-4 lg:size-6"></i>
                <span class="sr-only">{% trans 'DRF RestWind Repo' %}</span>
              </a>
            </li>
            {% endblock %}
          </ul>

          <ul class="menu menu-vertical items-center gap-1 p-0 lg:gap-2">
            <li
              class="tooltip tooltip-right tooltip-accent"
              data-tip="{% trans 'Profile' %}"
            >
              <button
                popovertarget="profile"
                style="anchor-name: --profile"
                class="btn btn-sm btn-square btn-ghost lg:btn-md"
              >
                <i data-lucide="user" class="size-4 lg:size-6"></i>
                <span class="sr-only">{% trans 'Profile' %}</span>
              </button>

              <ul
                popover
                id="profile"
                style="position-anchor: --profile"
                class="menu dropdown dropdown-top dropdown-right bg-base-200 rounded-box shadow-lg"
              >
                <li class="menu-title">{% trans 'Profile' %}</li>
                <!-- prettier ignore -->
                {% block profile_menu %}{% endblock %}

                <!-- prettier ignore -->
                {% if request.user.is_authenticated %}
                <!-- prettier ignore -->
                {% optional_logout request user csrf_token %}{% else %}
                <!-- prettier ignore -->
                {% optional_login request %}{% endif %}
              </ul>
            </li>
          </ul>
        </nav>
        {% endblock %}
      </header>
    </section>

    <main
      class="relative flex h-dvh max-h-dvh w-full flex-col gap-2 py-2 pr-2 overflow-hidden"
    >
      <!-- prettier ignore -->
      {% block searchbar %}
      <section id="searchbar" class="z-20 w-full">
        <nav class="flex items-center justify-between w-full gap-2 lg:gap-4">
          <!-- prettier ignore -->
          {% block branding_text %}
          <h1 class="hidden text-xl font-semibold text-primary lg:block">
            {% trans 'DRF RestWind' %}
          </h1>
          {% endblock %}

          <form method="get" class="w-full lg:max-w-lg">
            <label
              class="input input-sm input-primary w-full lg:input-md"
            >
              <i data-lucide="search" class="size-4 lg:size-6"></i>
              <input
                type="search"
                class="grow"
                name="search"
                value="{{ request.GET.search }}"
                placeholder="{% trans 'Search...' %}"
              />

              <div class="tooltip tooltip-left" data-tip="{% trans 'Press `Enter` to search' %}">
                <i data-lucide="info-icon" class="size-4 lg:size-6"></i>
              </div>
            </label>
          </form>

          <!-- prettier ignore -->
          {% block searchbar_right %}
          <ul class="flex items-center gap-2 p-0 lg:gap-4">
            {% block theme_selector %}
            <!-- prettier ignore -->
            {% include 'rest_framework/components/theme.html' %}{% endblock %}
            <li
              class="tooltip tooltip-left tooltip-accent"
              data-tip="{% trans 'Toggle theme' %}"
            >
              <label
                class="swap swap-rotate btn btn-sm btn-square btn-ghost lg:btn-md"
              >
                <input
                  type="checkbox"
                  class="theme-controller"
                  value="{% block toggle_theme %}light{% endblock %}"
                />
                <i data-lucide="sun" class="swap-off size-4 lg:size-6"></i>
                <i data-lucide="moon-star" class="swap-on size-4 lg:size-6"></i>
              </label>
            </li>
          </ul>
          {% endblock %}
        </nav>
      </section>
      {% endblock %}

      <!-- prettier ignore -->
      {% block content %}
      <div
        class="grid gap-4 grow grid-cols-12 rounded-box bg-base-100 overflow-y-auto lg:overflow-y-visible lg:gap-0"
      >
        <section
          id="sidebar"
          class="col-span-12 h-full lg:col-span-3 {% block sidebar_styles %} lg:h-[calc(100dvh-4rem)] lg:max-h-[calc(100dvh-4rem)] {% endblock %}"
        >
          <section id="sidebar-content" class="relative h-full">
            <header class="absolute inset-x-0 top-0 z-10">
              <nav
                class="flex items-center justify-between p-4 gap-4 backdrop-blur-3xl rounded-t-box"
              >
                <div class="flex items-center gap-4">
                  <!-- prettier ignore -->
                  {% block request_forms %}
                  <!-- prettier ignore -->
                  {% if 'GET' in allowed_methods %}
                  <form class="join" id="get-form">
                    <!-- prettier ignore -->
                    {% if api_settings.URL_FORMAT_OVERRIDE %}
                    <div
                      class="tooltip tooltip-right tooltip-primary"
                      data-tip="{% trans 'GET request' %}"
                    >
                      <a
                        href="{{ request.get_full_path }}"
                        rel="nofollow"
                        class="btn join-item btn-sm btn-square btn-primary lg:btn-md"
                      >
                        <i data-lucide="refresh-ccw" class="size-4 lg:size-6"></i>
                        <span class="sr-only">{% trans 'Get' %}</span>
                      </a>
                    </div>

                    <div>
                      <button
                        type="button"
                        class="btn join-item btn-sm btn-square btn-soft btn-primary lg:btn-md"
                        popovertarget="formats"
                        style="anchor-name: --formats"
                      >
                        <i data-lucide="chevron-down" class="size-4 lg:size-6"></i>
                        <span class="sr-only">{% trans 'Formats' %}</span>
                      </button>

                      <ul
                        id="formats"
                        popover
                        style="position-anchor: --formats"
                        class="menu dropdown dropdown-center dropdown-bottom bg-base-200 rounded-box shadow-lg overflow-visible"
                      >
                        <li class="menu-title">{% trans 'Formats' %}</li>
                        {% for format in available_formats %}
                        <li
                          class="tooltip tooltip-right"
                          data-tip="{% trans 'GET request with format of' %} `{{ format|upper }}`"
                        >
                          <a
                            href="{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}"
                            rel="nofollow"
                          >
                            {{ format|upper }}
                          </a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    {% else %}
                    <div
                      class="tooltip tooltip-right tooltip-primary"
                      data-tip="{% trans 'GET request' %}"
                    >
                      <a
                        href="{{ request.get_full_path }}"
                        rel="nofollow"
                        class="btn join-item btn-sm btn-square btn-ghost lg:btn-md"
                      >
                        <i data-lucide="refresh-ccw" class="size-4 lg:size-6"></i>
                        <span class="sr-only">{% trans 'Get' %}</span>
                      </a>
                    </div>
                    {% endif %}
                  </form>
                  {% endif %}
                  <!-- prettier ignore -->
                  {% if options_form %}
                  <div
                    class="tooltip tooltip-right tooltip-info"
                    data-tip="{% trans 'OPTIONS request' %}"
                  >
                    <form
                      action="{{ request.get_full_path }}"
                      data-method="OPTIONS"
                    >
                      <button
                        type="submit"
                        class="btn btn-sm btn-square btn-info lg:btn-md"
                      >
                        <i data-lucide="info" class="size-4 lg:size-6"></i>
                        <span class="sr-only">{% trans 'Options' %}</span>
                      </button>
                    </form>
                  </div>
                  <!-- prettier ignore -->
                  {% endif %}{% endblock %}
                </div>

                <div
                  class="tooltip tooltip-bottom tooltip-primary"
                  data-tip="{% trans 'Usage' %}"
                >
                  <button
                    type="button"
                    class="btn btn-sm btn-square btn-soft btn-primary lg:btn-md"
                    onclick="usageDialog.showModal()"
                  >
                    <i data-lucide="badge-info" class="size-4 lg:size-6"></i>
                    <span class="sr-only">{% trans 'Usage' %}</span>
                  </button>
                </div>
              </nav>
            </header>

            <main
              class="flex flex-col gap-4 gap-4 h-full px-4 py-20 lg:max-h-dvh lg:overflow-y-auto"
            >
              <!-- prettier ignore -->
              {% if display_edit_forms %}
              <div role="tablist" class="tabs tabs-sm tabs-border lg:tabs-md">
                <!-- prettier ignore -->
                {% if post_form or raw_data_post_form %}
                <label class="tab" role="tab">
                  <input type="radio" name="form_tabs" checked />
                  <span>{% trans 'HTML Form' %}</span>
                </label>
                <div class="tab-content" id="post-object-form">
                  <!-- prettier ignore -->
                  {% with form=post_form %}
                  <form
                    action="{{ request.get_full_path }}"
                    method="POST"
                    enctype="multipart/form-data"
                    class="grid gap-4"
                  >
                    {% csrf_token %}{{ post_form }}

                    <div
                      class="tooltip tooltip-top tooltip-primary"
                      data-tip="{% trans 'POST request' %}"
                    >
                      <button class="btn btn-primary w-full">
                        <span>{% trans 'Send' %}</span>
                        <i data-lucide="send-horizontal" class="size-4 lg:size-6"></i>
                      </button>
                    </div>
                  </form>
                  {% endwith %}
                </div>

                <label class="tab" role="tab">
                  <input type="radio" name="form_tabs" />
                  <span>{% trans 'Raw data' %}</span>
                </label>
                <div class="tab-content" id="post-generic-content-form">
                  <!-- prettier ignore -->
                  {% with form=raw_data_post_form %}
                  <form
                    action="{{ request.get_full_path }}"
                    method="POST"
                    class="grid gap-4"
                  >
                    <!-- prettier ignore -->
                    {% include "rest_framework/raw_data_form.html" %}

                    <div
                      class="tooltip tooltip-top tooltip-primary"
                      data-tip="{% trans 'POST request' %}"
                    >
                      <button class="btn btn-primary w-full">
                        <span>{% trans 'Send' %}</span>
                        <i data-lucide="send-horizontal" class="size-4 lg:size-6"></i>
                      </button>
                    </div>
                  </form>
                  {% endwith %}
                </div>
                {% endif %}
                <!-- prettier ignore -->
                {% if put_form or raw_data_put_form or raw_data_patch_form %}
                <label class="tab" role="tab">
                  <input type="radio" name="form_tabs" checked />
                  <span>{% trans 'HTML Form' %}</span>
                </label>
                <div class="tab-content" id="put-object-form">
                  <!-- prettier ignore -->
                  {% with form=post_form %}
                  <form
                    action="{{ request.get_full_path }}"
                    data-method="PUT"
                    enctype="multipart/form-data"
                    class="grid gap-4"
                  >
                    {{ put_form }}

                    <div
                      class="tooltip tooltip-top"
                      data-tip="{% trans 'PUT request' %}"
                    >
                      <button class="btn btn-primary w-full">
                        <span>{% trans 'Send' %}</span>
                        <i data-lucide="send-horizontal" class="size-4 lg:size-6"></i>
                      </button>
                    </div>
                  </form>
                  {% endwith %}
                </div>

                <label class="tab" role="tab">
                  <input type="radio" name="form_tabs" />
                  <span>{% trans 'Raw data' %}</span>
                </label>
                <div class="tab-content" id="put-generic-content-form">
                  <!-- prettier ignore -->
                  {% with form=raw_data_put_or_patch_form %}
                  <form
                    action="{{ request.get_full_path }}"
                    data-method="PUT"
                    class="grid gap-4"
                  >
                    <!-- prettier ignore -->
                    {% include "rest_framework/raw_data_form.html" %}

                    <div class="flex items-center gap-4">
                      <!-- prettier ignore -->
                      {% if raw_data_put_form %}
                      <div
                        class="tooltip tooltip-top tooltip-primary grow"
                        data-tip="{% trans 'PUT request' %}"
                      >
                        <button class="btn btn-primary w-full">
                          <span>{% trans 'Send' %}</span>
                          <i data-lucide="send-horizontal" class="size-4 lg:size-6"></i>
                        </button>
                      </div>
                      {% endif %}
                      <!-- prettier ignore -->
                      {% if raw_data_patch_form %}
                      <div
                        class="tooltip tooltip-top tooltip-secondary grow"
                        data-tip="{% trans 'PATCH request' %}"
                      >
                        <button
                          class="btn btn-secondary w-full"
                          data-method="PATCH"
                        >
                          <span>{% trans 'Send' %}</span>
                          <i data-lucide="send-horizontal" class="size-4 lg:size-6"></i>
                        </button>
                      </div>
                      {% endif %}
                    </div>
                  </form>
                  {% endwith %}
                </div>
                {% endif %}
              </div>
              {% endif %}
            </main>

            <!-- prettier ignore -->
            {% if paginator %}
            <footer class="absolute inset-x-0 bottom-0 z-10">
              <nav class="p-4 gap-4 backdrop-blur-3xl rounded-b-box">
                {% get_pagination_html paginator %}
              </nav>
            </footer>
            {% endif %}
          </section>
        </section>

        <section
          id="content"
          class="col-span-12 h-full lg:col-span-9 {% block contetn_styles %} lg:h-[calc(100dvh-4rem)] lg:max-h-[calc(100dvh-4rem)] {% endblock %}"
        >
          <section id="main-content" class="relative h-full">
            <header class="absolute inset-x-0 top-0 z-10">
              <nav
                class="navbar items-center justify-between gap-4 rounded-t-box backdrop-blur-3xl px-4"
              >
                <!-- prettier ignore -->
                {% block breadcrumbs %}
                <div class="breadcrumbs text-sm">
                  <ol>
                    <!-- prettier ignore -->
                    {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
                    <!-- prettier ignore -->
                    {% if forloop.last %}
                    <li>{{ breadcrumb_name }}</li>
                    {% else %}
                    <li>
                      <a href="{{ breadcrumb_url }}"> {{ breadcrumb_name }} </a>
                    </li>
                    {% endif %}
                    <!-- prettier ignore -->
                    {% endfor %}
                  </ol>
                </div>
                {% endblock %}

                <div class="flex items-center gap-4">
                  <!-- prettier ignore -->
                  {% if delete_form %}
                  <div
                    class="tooltip tooltip-left tooltip-error"
                    data-tip="{% trans 'DELETE request' %}"
                  >
                    <button
                      type="button"
                      class="btn btn-sm btn-square btn-error lg:btn-md"
                      onclick="deleteDialog.showModal()"
                    >
                      <i data-lucide="trash-2" class="size-4 lg:size-6"></i>
                      <span class="sr-only">{% trans 'Delete' %}</span>
                    </button>
                  </div>

                  <dialog id="deleteDialog" class="modal overflow-hidden">
                    <section
                      class="relative modal-box p-0 grid gap-4 max-w-3xl"
                    >
                      <header
                        class="absolute inset-x-0 top-0 z-10 backdrop-blur-3xl p-4 flex items-center justify-between gap-4"
                      >
                        <h1 class="text-lg font-semibold lg:text-2xl">
                          {% trans 'Delete' %} {{ name }}
                        </h1>

                        <div
                          class="tooltip tooltip-left"
                          data-tip="{% trans 'Close' %}"
                        >
                          <button
                            class="btn btn-square btn-ghost"
                            onclick="deleteDialog.close()"
                          >
                            <i data-lucide="x" class="size-4 lg:size-6"></i>
                            <span class="sr-only">{% trans 'Close' %}</span>
                          </button>
                        </div>
                      </header>

                      <main
                        class="max-h-[calc(100dvh-1rem)] overflow-y-auto px-4 py-20 lg:max-h-[calc(100dvh-4rem)]"
                      >
                        <form
                          id="delete-form"
                          action="{{ request.get_full_path }}"
                          data-method="DELETE"
                        >
                          <p>
                            <!-- prettier ignore -->
                            {% trans 'Are you sure you want to delete this' %} {{ name }}?
                          </p>
                        </form>

                        <div role="alert" class="alert alert-error">
                          <i data-lucide="octagon-x" class="size-4 lg:size-6"></i>
                          <p>{% trans 'This action is destructive!' %}</p>
                        </div>
                      </main>

                      <footer
                        class="absolute inset-x-0 bottom-0 z-10 backdrop-blur-3xl p-4 modal-action gap-4"
                      >
                        <button
                          type="submit"
                          form="delete-form"
                          class="btn btn-error grow"
                        >
                          <i data-lucide="trash-2" class="size-4 lg:size-6"></i>
                          <span>{% trans 'Delete' %}</span>
                        </button>

                        <button
                          class="btn btn-secondary grow"
                          onclick="deleteDialog.close()"
                        >
                          {% trans 'Close' %}
                        </button>
                      </footer>
                    </section>
                  </dialog>
                  {% endif %}
                  <!-- prettier ignore -->
                  {% if extra_actions %}
                  <div>
                    <button
                      type="button"
                      popovertarget="extra-actions"
                      style="anchor-name: --extra-actions"
                      class="btn btn-sm btn-square btn-ghost lg:btn-md"
                    >
                      <i data-lucide="ellipsis-vertical" class="size-4 lg:size-6"></i>
                      <span class="sr-only">{% trans 'Extra actions' %}</span>
                    </button>

                    <ul
                      id="extra-actions"
                      popover
                      style="position-anchor: --extra-actions"
                      class="menu dropdown dropdown-left dropdown-bottom bg-base-200 rounded-box shadow-lg"
                    >
                      <li class="menu-title">{% trans 'Extra actions' %}</li>
                      <!-- prettier ignore -->
                      {% for action_name, url in extra_actions|items %}
                      <li><a href="{{ url }}">{{ action_name }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}
                  <!-- prettier ignore -->
                  {% if filter_form %}
                  <div
                    class="tooltip tooltip-left"
                    data-tip="{% trans 'Filters' %}"
                  >
                    <button
                      type="button"
                      class="btn btn-sm btn-square btn-ghost lg:btn-md"
                      onclick="filtersDialog.showModal()"
                    >
                      <i data-lucide="list-filter" class="size-4 lg:size-6"></i>
                      <span class="sr-only">{% trans 'Filters' %}</span>
                    </button>
                  </div>

                  {{ filter_form }}
                  <!-- prettier ignore -->
                  {% endif %}
                </div>
              </nav>
            </header>

            <main
              class="flex flex-col gap-4 h-full p-4 pt-20 lg:max-h-dvh lg:overflow-y-auto"
            >
              <section id="title" class="grid gap-4">
                <h1
                  id="title"
                  class="text-primary font-serif text-3xl font-black lg:text-6xl"
                >
                  {{ name }}
                </h1>
              </section>

              <section id="response" class="card rounded-box bg-base-200">
                <header
                  class="flex items-center justify-between gap-4 px-4 py-2 rounded-t-box bg-base-300"
                >
                  <div class="flex items-center gap-2">
                    <div class="size-5 rounded-full bg-red-400 lg:size-6"></div>
                    <div
                      class="size-5 rounded-full bg-yellow-400 lg:size-6"
                    ></div>
                    <div
                      class="size-5 rounded-full bg-green-400 lg:size-6"
                    ></div>
                  </div>

                  <div class="flex items-center gap-4">
                    <div
                      class="tooltip tooltip-left tooltip-success"
                      data-tip="{% trans 'Documentation' %}"
                    >
                      <button
                        type="button"
                        class="btn btn-sm btn-square btn-soft btn-success lg:btn-md"
                        onclick="docsDialog.showModal()"
                      >
                        <i data-lucide="book-text" class="size-4 lg:size-6"></i>
                        <span class="sr-only">{% trans 'Documentation' %}</span>
                      </button>
                    </div>

                    <div
                      class="tooltip tooltip-left"
                      data-tip="{% trans 'Copy' %}"
                    >
                      <button
                        type="button"
                        class="btn btn-sm btn-square btn-soft btn-ghost btn-copy lg:btn-md"
                        data-clipboard-text="{{ content }}"
                      >
                        <i data-lucide="copy" class="size-4 lg:size-6"></i>
                        <span class="sr-only">{% trans 'Copy' %}</span>
                      </button>
                    </div>
                  </div>
                </header>

                <main class="card-body py-4 gap-4 overflow-auto">
                  <pre><code class="language-http">{{ request.method }} {{ request.get_full_path }}
HTTP {{ response.status_code }} {{ response.status_text }}
{% for key, val in response_headers|items %}
{{ key }}: {{ val|urlize }}{% endfor %}</code></pre>

                  <pre><code class="language-json">{{ content|urlize }}</code></pre>
                </main>
              </section>
            </main>
          </section>
        </section>
      </div>
      {% endblock %}
    </main>

    <dialog id="docsDialog" class="modal overflow-hidden">
      <section class="relative modal-box p-0 grid gap-4 max-w-5xl">
        <header
          class="absolute inset-x-0 top-0 z-10 backdrop-blur-3xl p-4 flex items-center justify-between gap-4"
        >
          <h1 class="text-lg font-semibold lg:text-2xl">
            {% trans 'Documentation' %}
          </h1>

          <div class="tooltip tooltip-left" data-tip="{% trans 'Close' %}">
            <button
              class="btn btn-square btn-ghost"
              onclick="docsDialog.close()"

            >
              <i data-lucide="x" class="size-4 lg:size-6"></i>
              <span class="sr-only">{% trans 'Close' %}</span>
            </button>
          </div>
        </header>

        <main
          class="max-h-[calc(100dvh-1rem)] overflow-y-auto px-6 py-20 lg:px-12 lg:max-h-[calc(100dvh-4rem)]"
        >
          <section
            class="prose prose-sm prose-primary max-w-none {% block markdown_styles %} lg:prose-base xl:prose-lg 2xl:prose-xl 3x:prose-2xl {% endblock %}"
          >
            <!-- prettier ignore -->
            {% block description %}{{ description }}{% endblock %}
          </section>
        </main>

        <footer
          class="absolute inset-x-0 bottom-0 z-10 backdrop-blur-3xl p-4 modal-action gap-4"
        >
          <button class="btn btn-secondary grow" onclick="docsDialog.close()">
            {% trans 'Close' %}
          </button>
        </footer>
      </section>
    </dialog>

    <dialog id="usageDialog" class="modal overflow-hidden">
      <section class="relative modal-box p-0 grid gap-4 max-w-5xl">
        <header
          class="absolute inset-x-0 top-0 z-10 backdrop-blur-3xl p-4 flex items-center justify-between gap-4"
        >
          <h1 class="text-lg font-semibold lg:text-2xl">
            {% trans 'Examples' %}
          </h1>

          <div class="tooltip tooltip-left" data-tip="{% trans 'Close' %}">
            <button
              class="btn btn-square btn-ghost"
              onclick="usageDialog.close()"
            >
              <i data-lucide="x" class="size-4 lg:size-6"></i>
              <span class="sr-only">{% trans 'Close' %}</span>
            </button>
          </div>
        </header>

        <main
          class="max-h-[calc(100dvh-1rem)] overflow-y-auto px-4 py-20 lg:max-h-[calc(100dvh-4rem)]"
        >
          <div role="tablist" class="tabs tabs-box">
            <input
              type="radio"
              name="usage_tabs"
              role="tab"
              class="tab"
              aria-label="Curl"
              checked
            />
            <div class="tab-content">
              <section class="relative card max-h-96">
                <main class="card-body p-2 gap-4 overflow-auto">
                  <div class="absolute top-0 right-4">
                    <div
                      class="tooltip tooltip-left"
                      data-tip="{% trans 'Copy' %}"
                    >
                      <button
                        type="button"
                        class="btn btn-sm btn-square btn-soft btn-ghost btn-copy lg:btn-md"
                        data-clipboard-target="#curl"
                      >
                        <i data-lucide="copy" class="size-4 lg:size-6"></i>
                        <span class="sr-only">{% trans 'Copy' %}</span>
                      </button>
                    </div>
                  </div>

                  <div id="curl" class="grid gap-4">
                    <pre
                      data-request-method="get"
                      class="hidden"
                    ><code class="language-bash">
# GET Request
curl -X GET {{ request.build_absolute_uri }}</code></pre>
                    <pre
                      data-request-method="post"
                      class="hidden"
                    ><code class="language-bash">
# POST Request
curl -X POST {{ request.build_absolute_uri }} \
  -H "Content-Type: application/json" \
  -d '{...}'</code></pre>
                    <pre
                      data-request-method="put"
                      class="hidden"
                    ><code class="language-bash">
# PUT Request
curl -X PUT {{ request.build_absolute_uri }} \
  -H "Content-Type: application/json" \
  -d '{...}'</code></pre>
                    <pre
                      data-request-method="patch"
                      class="hidden"
                    ><code class="language-bash">
# PATCH Request
curl -X PATCH {{ request.build_absolute_uri }} \
  -H "Content-Type: application/json" \
  -d '{...}'</code></pre>
                    <pre
                      data-request-method="delete"
                      class="hidden"
                    ><code class="language-bash">
# DELETE Request
curl -X DELETE {{ request.build_absolute_uri }}</code></pre>
                  </div>
                </main>
              </section>
            </div>

            <input
              type="radio"
              name="usage_tabs"
              role="tab"
              class="tab"
              aria-label="Python"
            />
            <div class="tab-content">
              <section class="relative card max-h-96">
                <main class="card-body p-2 gap-4 overflow-auto">
                  <div class="absolute top-0 right-4">
                    <div
                      class="tooltip tooltip-left"
                      data-tip="{% trans 'Copy' %}"
                    >
                      <button
                        type="button"
                        class="btn btn-sm btn-square btn-soft btn-ghost btn-copy lg:btn-md"
                        data-clipboard-target="#python"
                      >
                        <i data-lucide="copy" class="size-4 lg:size-6"></i>
                        <span class="sr-only">{% trans 'Copy' %}</span>
                      </button>
                    </div>
                  </div>

                  <div id="python" class="grid gap-4">
                    <pre><code class="language-python">import requests


url = "{{ request.build_absolute_uri }}"</code></pre>
                    <pre
                      data-request-method="get"
                      class="hidden"
                    ><code class="language-python">
# GET Request
response = requests.get(url)

if response.status_code == 200:
    items = response.json()
    print("Items retrieved:", items)
else:
    print("Failed to retrieve items:", response.status_code, response.text)</code></pre>
                    <pre
                      data-request-method="post"
                      class="hidden"
                    ><code class="language-python">
# POST Request
response = requests.post(url, json={...})

if response.status_code == 201:
    print("Item created:", response.json())
else:
    print("Failed to create item:", response.status_code, response.text)</code></pre>
                    <pre
                      data-request-method="put"
                      class="hidden"
                    ><code class="language-python">
# PUT Request
response = requests.put(url, json={...})

if response.status_code == 200:
    print("Item updated:", response.json())
else:
    print("Failed to update item:", response.status_code, response.text)</code></pre>
                    <pre
                      data-request-method="patch"
                      class="hidden"
                    ><code class="language-python">
# PATCH Request
response = requests.patch(url, json={...})

if response.status_code == 200:
    print("Item updated:", response.json())
else:
    print("Failed to update item:", response.status_code, response.text)</code></pre>
                    <pre
                      data-request-method="delete"
                      class="hidden"
                    ><code class="language-python">
# DELETE Request
response = requests.delete(url)

if response.status_code == 204:
    print("Item deleted successfully")
else:
    print("Failed to delete item:", response.status_code, response.text)</code></pre>
                  </div>
                </main>
              </section>
            </div>

            <input
              type="radio"
              name="usage_tabs"
              role="tab"
              class="tab"
              aria-label="Javascript"
            />
            <div class="tab-content">
              <section class="relative card max-h-96">
                <main class="card-body p-2 gap-4 overflow-auto">
                  <div class="absolute top-0 right-4">
                    <div
                      class="tooltip tooltip-left"
                      data-tip="{% trans 'Copy' %}"
                    >
                      <button
                        type="button"
                        class="btn btn-sm btn-square btn-soft btn-ghost btn-copy lg:btn-md"
                        data-clipboard-target="#javascript"
                      >
                        <i data-lucide="copy" class="size-4 lg:size-6"></i>
                        <span class="sr-only">{% trans 'Copy' %}</span>
                      </button>
                    </div>
                  </div>

                  <div id="javascript" class="grid gap-4">
                    <pre><code class="language-javascript">const url = '{{ request.build_absolute_uri }}'</code></pre>
                    <pre
                      data-request-method="get"
                      class="hidden"
                    ><code class="language-javascript">
// GET Request
fetch(url)
  .then(response => response.json())
  .then(data => console.log(data))
  .catch(error => console.error('Error:', error))</code></pre>
                    <pre
                      data-request-method="post"
                      class="hidden"
                    ><code class="language-javascript">
// POST Request
fetch(url, {
  method: 'POST',
  headers: { 'Content-Type': 'application/json' },
  body: JSON.stringify({...}),
})
  .then(response => response.json())
  .then(data => console.log('Success:', data))
  .catch(error => console.error('Error:', error))</code></pre>
                    <pre
                      data-request-method="put"
                      class="hidden"
                    ><code class="language-javascript">
// PUT Request
fetch(url, {
  method: 'PUT',
  headers: { 'Content-Type': 'application/json' },
  body: JSON.stringify({...}),
})
  .then(response => response.json())
  .then(data => console.log('Success:', data))
  .catch(error => console.error('Error:', error))</code></pre>
                    <pre
                      data-request-method="patch"
                      class="hidden"
                    ><code class="language-javascript">
// PATCH Request
fetch(url, {
  method: 'PATCH',
  headers: { 'Content-Type': 'application/json' },
  body: JSON.stringify({...}),
})
  .then(response => response.json())
  .then(data => console.log('Success:', data))
  .catch(error => console.error('Error:', error))</code></pre>
                    <pre
                      data-request-method="delete"
                      class="hidden"
                    ><code class="language-javascript">
// DELETE Request
fetch(url, { method: 'DELETE' })
  .then(response => console.log('Item deleted:', response))
  .catch(error => console.error('Error:', error))</code></pre>
                  </div>
                </main>
              </section>
            </div>
          </div>
        </main>

        <footer
          class="absolute inset-x-0 bottom-0 z-10 backdrop-blur-3xl p-4 modal-action gap-4"
        >
          <button class="btn btn-primary grow" onclick="usageDialog.close()">
            {% trans 'Close' %}
          </button>
        </footer>
      </section>
    </dialog>

    <section id="scripts" class="hidden">
      <!-- prettier ignore -->
      {% block script %}
      <script type="application/json" id="drf_csrf">
        {
          "csrfHeaderName": "{{ csrf_header_name|default:'X-CSRFToken' }}",
          "csrfToken": "{% if request %}{{ csrf_token }}{% endif %}"
        }
      </script>
      <script src="{% static 'rest_framework/js/jquery-3.7.1.min.js' %}"></script>
      <script src="{% static 'rest_framework/js/ajax-form.js' %}"></script>
      <script src="{% static 'rest_framework/js/csrf.js' %}"></script>
      <script src="{% static 'rest_framework/js/prettify-min.js' %}"></script>
      <script src="{% static 'rest_framework/js/default.js' %}"></script>
      <script src="{% static 'rest_framework/js/load-ajax-form.js' %}"></script>
      {% endblock %}

      <script>
        // Copy buttons
        const copyBtns = new ClipboardJS(".btn-copy");

        // Make all links in response section clickable
        setTimeout(
          () =>
            document
              .querySelectorAll("#response .language-json .hljs-string")
              .forEach((e) => {
                if (e.innerHTML.startsWith('"http')) {
                  e.innerHTML = `<a href="${e.innerHTML.slice(1, e.innerHTML.length - 1)}">${e.innerHTML}</a>`;
                }
              }),
          100,
        );
      </script>

      <!-- Scripts to control visibility of code snippets -->
      <!-- prettier ignore -->
      {% if 'GET' in allowed_methods %}
      <script>
        document
          .querySelectorAll("dialog#usageDialog pre[data-request-method=get]")
          .forEach((e) => e.classList.toggle("hidden"));
      </script>
      {% endif %}
      <!-- prettier ignore -->
      {% if 'POST' in allowed_methods %}
      <script>
        document
          .querySelectorAll("dialog#usageDialog pre[data-request-method=post]")
          .forEach((e) => e.classList.toggle("hidden"));
      </script>
      {% endif %}
      <!-- prettier ignore -->
      {% if 'PUT' in allowed_methods %}
      <script>
        document
          .querySelectorAll("dialog#usageDialog pre[data-request-method=put]")
          .forEach((e) => e.classList.toggle("hidden"));
      </script>
      {% endif %}
      <!-- prettier ignore -->
      {% if 'PATCH' in allowed_methods %}
      <script>
        document
          .querySelectorAll("dialog#usageDialog pre[data-request-method=patch]")
          .forEach((e) => e.classList.toggle("hidden"));
      </script>
      {% endif %}
      <!-- prettier ignore -->
      {% if 'DELETE' in allowed_methods %}
      <script>
        document
          .querySelectorAll(
            "dialog#usageDialog pre[data-request-method=delete]",
          )
          .forEach((e) => e.classList.toggle("hidden"));
      </script>
      {% endif %}
    </section>
    {% endblock %}

    <div
      class="hidden lg:h-[calc(100dvh-1rem)] lg:max-h-[calc(100dvh-1rem)]"
    ></div>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>lucide.createIcons()</script>
  </body>
</html>
