{% extends "rest_framework/base.html" %}
<!-- prettier ignore -->
{% load i18n %}
<!-- prettier ignore -->
{% block title %}{{ block.super }} | {% translate 'Login' %}{% endblock %}

<!-- prettier ignore -->
{% block searchbar %}{% endblock %}

<!-- prettier ignore -->
{% block content %}
<section
  class="flex h-full w-full items-center justify-center rounded-box bg-base-100 lg:p-40"
>
  <div
    class="card gap-12 mx-2 max-w-md card-body w-full rounded-box bg-base-200 py-12 shadow-xl"
  >
    <h1 class="text-ptimary text-4xl font-serif font-black">{% translate 'Login' %}</h1>

    {% if next %}
    {% if user.is_authenticated %}
    <p>
      <!-- prettier ignore -->
      {% blocktranslate %}
      Your account doesn't have access to this page. To
      proceed, please login with an account that has access.
      {% endblocktranslate %}
    </p>
    {% else %}
    <p>{% translate 'Please login to continue.' %}</p>
    {% endif %}
    {% endif %}
    <!-- prettier ignore -->
    {% include 'rest_framework/components/form.html' %}
  </div>
</section>
{% endblock %}
